{% load staticfiles %}
<!-- Footer -->
<div>
    <br><br><br>
</div>

{# img src="{% static "1.png" %}" #}
<footer style="background: url({% static "assets/images/sakura.png" %});">
    <div class="main-footer">
        <p> Copyright © 2020 By Herrtian</p>
        <p>Made with Love from CN.</p>
        <div class="icons">
            <ul>
                <li><a target="_BLANK" href="http://facebook.com/"><i class="fa fa-facebook"></i> </a></li>
                <li><a target="_BLANK" href="http://instagram.com/"><i class="fa fa-instagram"></i> </a></li>
                <li><a target="_BLANK" href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_BLANK" href="http://behance.net/"><i class="fa fa-behance"></i></a></li>
            </ul>
        </div>
    </div>
</footer>