{% load staticfiles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Arizona</title>
<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Quattrocento+Sans:400,700|Palanquin:400,600|Raleway|Josefin+Sans'
      rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="assets/css/font-awesome.css">
<link rel="stylesheet" href="assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/css/owl.theme.css">
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/style.css">

<header style="background: url({% static "assets/images/kyotoanimation.png" %});">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h2><a href="{% url 'article:article_list' %}">Herrtian</a></h2>
                </div>
            </div>
            <div class="col-md-8">
                <div id="menu" class="menu">
                    <ul>
                        <li><a href="{% url 'article:article_list' %}" class="active">主页</a></li>
                        <li><a href="{% url 'article:article_create' %}">写文章</a></li>
                        <li>
                            <a href="#">导航</a>
                            <ul>
                                <li>
                                    <a href="#">Portfolio</a>
                                    <ul>
                                        <li><a href="portfolio-2.html">2 Column</a></li>
                                        <li><a href="portfolio-3.html">3 Column</a></li>
                                        <li><a href="portfolio-4.html">4 Column</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                        <li><a href="masonry-2.html">2 Column</a></li>
                                        <li><a href="index.html"> 3 Column</a></li>
                                        <li><a href="masonry-3.html">4 Column</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">友情链接</a>
                                    <ul>
                                        <li><a href="blog2.html">Full Width</a></li>
                                        <li><a href="blog.html">Grid 2Column</a></li>
                                        <li><a href="blog3.html">Grid 3Column</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">PROJECT SINGLE</a>
                                    <ul>
                                        <li><a href="single1.html">SINGLE V1</a></li>
                                        <li><a href="single2.html">SINGLE V2</a></li>
                                        <li><a href="single3.html">SINGLE V3</a></li>
                                        <li><a href="single4.html">SINGLE V4</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{% url 'article:article_list' %}">Blog</a></li>
                        {% if user.is_authenticated %}
                            <li>{{ user.username }}</li>
                            <li><a href='{% url "userprofile:edit" user.id %}'>个人信息</a></li>
                            <li><a href='{% url "userprofile:logout" %}'>退出登录</a></li>
                        {% else %}
                            <li><a href='{% url "userprofile:login" %}'>登录</a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<script src="assets/js/jquery-2.1.4.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.slicknav.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<script src="assets/js/main.js"></script>