{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    文章详情
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 文章详情 -->
        <div class="first-content">
            <div class="pic index2-picture" style="background: url({% static "assets/images/view.jpeg" %});">
                <div class="overlay"></div>
                <div class="content">
                    <h3>ARTICLE DETAIL</h3>
                </div>
            </div>
        </div>
        <div class="index2-content">
            <div class="container">
                <div class="row items1">
                    <div class="col-md-7">
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.body }}</p>
                        <div class="details">
                            <h6> {{ article.author }} </h6>
                            <span> {{ article.created }}</span>
                            <h6> Categories </h6>
                            <span>Design</span>
                            <h6> Date </h6>
                            <span>07-09-2016</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img src="{% static "assets/images/pen.jpg"%}" alt="">
                       <img src=" {% static "assets/images/about4.png"%} " alt="">
                    </div>
                </div>
            </div>
        </div>



{% endblock content %}