{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    文章详情
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

    <!-- 文章详情 -->
    <div class="first-content">
        <div class="pic index2-picture" style="background: url({% static "assets/images/acgbg2.png" %});">
            <div class="overlay"></div>
            <div class="content">
                <h3>ARTICLE DETAIL</h3>
            </div>
        </div>
    </div>



    <div class="index2-content">
        <div class="container" style="background-color: rgba(255, 255, 255, 0.8);">
            <div class="row items1">
                <div class="col-md-7" style="font-size: 20px">
                    <h3>{{ article.title }}</h3>
                    <p style="font-size: 23px">{{ article.body|safe }}</p>
                    <div class="details">
                        <h6>Author : {{ article.author }} </h6>

                        <span>CreateTime {{ article.created }}</span>
                        <h6> Categories </h6>
                        <span>Design</span>
                        <h6> Update </h6>
                        <span>UpdateTime {{ article.updated }}</span>
                        <br><br><br>
                        {% if user == article.author %}
                            · <a href="#" onclick="confirm_delete()">删除文章</a>
                            · <a href="{% url "article:article_update" article.id %}">编辑文章</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="{% static "assets/images/acgphoto.PNG" %}" alt="">
                    <img src=" {% static "assets/images/acgphto2.PNG" %} " alt="">
                </div>


                <div class="blogsection4" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container">
                        <div class="items">
                            <h3> {{ comments.count }} Comments</h3>
                            <p>Join the discussion and tell us your opinion.</p>
                        </div>

                        {% for comment in comments %}
                            <div class="row items4">
                                <div class="col-md-2">
                                    {% if profile.avatar %}
                                        <div class="picture">
                                            <img src="{{ profile.avatar.url }}">
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-10">
                                    <div class="txt">
                                        <h5>{{ comment.user }}</h5>
                                        <span>{{ comment.created|date:"Y-m-d H:i:s" }}</span>
                                        <div>{{ comment.body|safe }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                {% if user.is_authenticated %}


                    <div class="contact-content">
                        <div class="container">
                            <h5 class="item">Leave a reply</h5>
                            <form class="row" action="{% url 'comment:post_comment' article.id %}"
                                  method="POST">
                                {% csrf_token %}

                                <div class="col-md-12 col-xs-12 col-sm-6 form-area">

                                    <div>
                                        {{ comment_form.media }}
                                        {{ comment_form.body }}
                                    </div>
                                    <br>
                                    <input type="submit" value="Comment">

                                </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <br>
                    <h5 class="row justify-content-center">
                        请<a href="{% url 'userprofile:login' %}">登录</a>后回复
                    </h5>
                    <br>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    <script>
        // 删除文章的函数
        function confirm_delete() {
            // 调用layer弹窗组件
            layer.open({
                // 弹窗标题
                title: "确认删除",
                // 正文
                content: "确认删除这篇文章吗？",
                // 点击确定按钮后调用的回调函数
                yes: function (index, layero) {
                    // 指定应当前往的 url
                    location.href = '{% url "article:article_delete" article.id %}'
                },
            })
        }
    </script>

    {% block script %}
        <script>
            $(".django-ckeditor-widget").removeAttr('style');
        </script>
    {% endblock script %}


{% endblock content %}