<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <div class="first-content">
        <div class="pic home-picture" style="background: url({% static "assets/images/acgbg.png" %});">
            <div class="overlay"></div>
            <div class="content">
                <h3 id="welcome">Welcome to Herrtian</h3>
            </div>
        </div>
    </div>

    <div class="container width-size blog-firstsection">
        <div class="second-section">
            <div class="filters">
                <ul id="filters">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".design">Design</li>
                    <li data-filter=".photography">Photography</li>
                    <li data-filter=".art">Art Work</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row masonry ">
                {% for article in articles %}
                <div class="col-md-4 col-sm-6 col-xs-12 selector">

                    <div class="item picture">
                        <img src={% static "assets/images/pencil.jpg" %} alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <h3><a href="{% url 'article:article_detail' article.id %}" >{{ article.title }}</a></h3>
                                <h5><a href="{% url 'article:article_detail' article.id %}" >{{ article.created }}</a></h5>
                            </div>
                        </div>
                    </div>

                    <div class="pic-inner">
                        <h3 align="center"><a href="{% url 'article:article_detail' article.id %}" >{{ article.title }} </a></h3>
                        <span style="float:right;">作者：   {{ article.author }}</span>
                        <br/>
                        <span style="float:right;">更新日期：  {{ article.updated }}</span>
{#                        <p>{{ article.body }}</p>#}
                        <div class="btn-load-more">
                            <a class="load-more" href="{% url 'article:article_detail' article.id %}" >Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="btn-load-more">
            <button class="load-more">
                Load More
            </button>
        </div>
    </div>

{% endblock content %}