<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <div class="first-content">
        <div class="pic home-picture" style="background: url({% static "assets/images/acgbg.png" %});">
            <div class="overlay"></div>
            <div class="content">
                <h3 id="welcome">Welcome to Herrtian</h3>
            </div>
        </div>
    </div>


    <div class="container width-size">
        <div class="second-section">

            <div class="filters">
                <ul id="filters">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".design">Design</li>
                    <li data-filter=".photography">Photography</li>
                    <li data-filter=".art">Art Work</li>
                </ul>
            </div>
        </div>


        <div class="row masonry">
            {% for article in articles %}
                <div class="col-md-3 col-sm-6 col-xs-12 selector design">
                    <div class="item">
                        <img src="{% static "assets/images/pencil.jpg" %}" alt="">
                        <div class="overlay">
                            <div class="overlay-inner">
                                <h3><a href="single1.html">{{ article.title }}</a></h3>
                                <h5><a href="single1.html">Design</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="btn-load-more">
            <button class="load-more">
                Load More
            </button>
        </div>
    </div>



{% endblock content %}